{% block sw_cms_block_text_three_column_preview %}
    <div class="sw-cms-preview-text-four-column">
        <p>
            anschrift.
        </p>
        <p>junghanns GmbH <br>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        </p>
        <p>Hier erreichen Sie uns <br>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        </p>
        <p>Mo - Fr:  von 08:00-12:00 Uhr <br>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        </p>
    </div>
{% endblock %}
