{% block sw_cms_block_image_brands %}
    <div class="sw-cms-block-image-text-brands">
        <slot name="right"></slot>
        <img :src="'/junghanns/static/img/cms/brands-slider.jpg' | asset">
    </div>
{% endblock %}
