{% block sw_cms_block_image_brands_preview %}
    <div class="sw-cms-preview-image-brands">
        <div>
            <img :src="'/junghanns/static/img/cms/brands-slider.jpg' | asset">
        </div>
    </div>
{% endblock %}
